In [17]:
import pandas as pd
import glob as glob
import os

In [4]:
files =glob.glob('/data2st1/junyi/scenic/mouse/motif/singletons/*')

In [7]:
f = files[0]

In [10]:
df_f = pd.read_csv(f, sep='\t', header=None,skiprows=1)

In [18]:
name = os.path.basename(f).replace('.cb', '')

In [19]:
name

'metacluster_53.9'

In [20]:
df_f.T

     0    1    2    3    4    5    6    7
0   51   42   43  885   39   65  286  118
1  777   26   12   62  922  106  208  614
2  123  912   89   22   14  798  365   41
3   49   20  856   31   25   31  142  227

In [ ]:
# >fantom__motif144_AAKCMSGT  
# A  [89.4  73.6  16.7   4.8  56.4  22.0   1.8   8.6]  
# C  [ 3.6   7.3   0.1  78.4  38.9  32.2   8.0   8.8]  
# G  [ 3.8  14.2  37.4   6.9   0.1  45.7  85.5   4.7]  
# T  [ 3.2   4.9  45.8   9.9   4.6   0.1   4.7  77.9]  
# transform into jaspar format
df_f.columns = ['A [', 'C [', 'G [', 'T [']

In [33]:
df_f.append(pd.Series([']'] *4), ignore_index=True)

/tmp/ipykernel_2597811/2507552384.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_f.append(pd.Series([']'] *4), ignore_index=True)

     A [    C [    G [    T [    0    1    2    3
0   51.0  777.0  123.0   49.0  NaN  NaN  NaN  NaN
1   42.0   26.0  912.0   20.0  NaN  NaN  NaN  NaN
2   43.0   12.0   89.0  856.0  NaN  NaN  NaN  NaN
3  885.0   62.0   22.0   31.0  NaN  NaN  NaN  NaN
4   39.0  922.0   14.0   25.0  NaN  NaN  NaN  NaN
5   65.0  106.0  798.0   31.0  NaN  NaN  NaN  NaN
6  286.0  208.0  365.0  142.0  NaN  NaN  NaN  NaN
7  118.0  614.0   41.0  227.0  NaN  NaN  NaN  NaN
8    NaN    NaN    NaN    NaN    ]    ]    ]    ]