In [20]:
import pandas as pd
import utils

In [23]:
# convert the rmsk to gene
df_rmsk = pd.read_csv("/data2st1/junyi/output/atac0416/cCRE/rmsk.bed", sep="\t")

/tmp/ipykernel_1050210/2266675247.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rmsk = pd.read_csv("/data2st1/junyi/output/atac0416/cCRE/rmsk.bed", sep="\t")

In [26]:
df_rmsk = df_rmsk.dropna()

In [31]:
df_rmsk['genoStart'] = df_rmsk['genoStart'].astype(int)
df_rmsk['genoEnd'] = df_rmsk['genoEnd'].astype(int)

/tmp/ipykernel_1050210/4204012226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmsk['genoStart'] = df_rmsk['genoStart'].astype(int)
/tmp/ipykernel_1050210/4204012226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmsk['genoEnd'] = df_rmsk['genoEnd'].astype(int)

In [36]:
df_rmsk['names'] = df_rmsk['genoName']+":"+ df_rmsk['genoStart'].astype(str) + "-" + df_rmsk['genoEnd'].astype(str)

/tmp/ipykernel_1050210/2353261548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmsk['names'] = df_rmsk['genoName']+":"+ df_rmsk['genoStart'].astype(str) + "-" + df_rmsk['genoEnd'].astype(str)

In [39]:
df_rmsk.head()

,#bin,swScore,milliDiv,milliDel,milliIns,genoName,genoStart,genoEnd,genoLeft,strand,repName,repClass,repFamily,repStart,repEnd,repLeft,id,names,type
0,0,239.0,248.0,8.0,62.0,chr1,67108752,67108881,-128363090.0,+,RLTR17B_Mm,LTR,ERVK,329.0,450.0,-352.0,1.0,chr1:67108752-67108881,Other repeats
1,0,230.0,346.0,25.0,0.0,chr1,134217651,134217732,-61254239.0,-,BC1_Mm,scRNA,scRNA,-56.0,96.0,14.0,2.0,chr1:134217651-134217732,Other repeats
2,1,8310.0,151.0,115.0,8.0,chr1,8386825,8389555,-187082416.0,-,Lx2,LINE,L1,0.0,6997.0,3977.0,7.0,chr1:8386825-8389555,Other repeats
3,1,32159.0,86.0,8.0,52.0,chr1,16776988,16779051,-178692920.0,+,L1_Mus1,LINE,L1,4513.0,6565.0,-2.0,2.0,chr1:16776988-16779051,Other repeats
4,1,216.0,318.0,73.0,91.0,chr1,33554408,33554640,-161917331.0,-,B4,SINE,B4,-48.0,244.0,17.0,4.0,chr1:33554408-33554640,Other repeats

In [40]:
set(df_rmsk.repClass)

{'DNA',
 'DNA?',
 'LINE',
 'LINE?',
 'LTR',
 'LTR?',
 'Low_complexity',
 'Other',
 'RC',
 'RC?',
 'RNA',
 'Retroposon',
 'SINE',
 'SINE?',
 'Satellite',
 'Simple_repeat',
 'Unknown',
 'rRNA',
 'scRNA',
 'snRNA',
 'srpRNA',
 'tRNA'}

In [38]:
df_rmsk["type"] = "Other repeats"

/tmp/ipykernel_1050210/2097119141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rmsk["type"] = "Other repeats"

In [43]:
df_rmsk.loc[df_rmsk.repClass.str.contains("SINE"),"type"] = "SINE"
df_rmsk.loc[df_rmsk.repClass.str.contains("LINE"),"type"] = "LINE"
df_rmsk.loc[df_rmsk.repClass.str.contains("LTR"),"type"] = "LTR"

In [45]:
df_rmsk_select = df_rmsk[["genoName", "genoStart", "genoEnd",'strand', "type", "names"]]

In [49]:
df_rmsk_select.columns = ["chr", "start", "end", "strand", "type", "names"]
df_rmsk_select

,chr,start,end,strand,type,names
0,chr1,67108752,67108881,+,LTR,chr1:67108752-67108881
1,chr1,134217651,134217732,-,Other repeats,chr1:134217651-134217732
2,chr1,8386825,8389555,-,LINE,chr1:8386825-8389555
3,chr1,16776988,16779051,+,LINE,chr1:16776988-16779051
4,chr1,33554408,33554640,-,SINE,chr1:33554408-33554640
...,...,...,...,...,...,...
5333734,chrY_JH584303_random,152556,155890,+,LINE,chrY_JH584303_random:152556-155890
5333735,chrY_JH584303_random,155890,156883,+,LINE,chrY_JH584303_random:155890-156883
5333736,chrY_JH584303_random,157069,157145,-,LTR,chrY_JH584303_random:157069-157145
5333737,chrY_JH584303_random,157908,157960,-,LTR,chrY_JH584303_random:157908-157960
5333738,chrY_JH584303_random,157952,158099,-,LTR,chrY_JH584303_random:157952-158099

In [52]:
df_rmsk_select = df_rmsk_select[df_rmsk_select['chr'].str.match(r'^chr([1-9]|1\d|2[0-2]|[XYM])$')]

In [53]:
df_rmsk_gene = utils.annotate_region(df_rmsk_select,region_col='names', bedfile='/data2st1/junyi/generegion_vM23/genebody_selected.bed')

In [57]:
df_rmsk_gene.loc[df_rmsk_gene.distance!= 0,'gene_name'] = 'intergenic'
df_rmsk_gene.loc[df_rmsk_gene.distance!= 0,'gene_id'] = 'intergenic'

In [67]:
df_rmsk_gene['score'] = "."

In [ ]:
df_all_rmsk_gene= df_rmsk_gene[['chr', 'start', 'end','score', 'strand_x','gene_name', 'gene_id', 'type']]
df_all_rmsk_gen

In [73]:
for type in df_all_rmsk_gene['type'].unique():
    df_rmsk_gene_type = df_all_rmsk_gene[df_all_rmsk_gene['type'] == type]
    df_rmsk_gene_type.to_csv(f"/data2st1/junyi/output/atac0416/cCRE/{type}.bed", sep="\t", index=False, header=False)

In [ ]:
df_cpg = pd.read_csv("/data2st1/junyi/output/atac0416/cCRE/cpgIslandExt.txt", sep="\t", header=None)

In [77]:
df_cpg.iloc[:,4] = df_cpg.iloc[:,4].str.replace(" ", "")

In [81]:
df_cpg_subset = df_cpg.iloc[:,[1,2,3,4]]
df_cpg_subset.columns = ["chr", "start", "end", "type"]

In [85]:
df_cpg_subset
df_cpg_subset = df_cpg_subset[df_cpg_subset['chr'].str.match(r'^chr([1-9]|1\d|2[0-2]|[XYM])$')]

In [87]:
df_cpg_subset['names'] = df_cpg_subset['chr'] + ":" + df_cpg_subset['start'].astype(str) + "-" + df_cpg_subset['end'].astype(str)

/tmp/ipykernel_1050210/1162347703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cpg_subset['names'] = df_cpg_subset['chr'] + ":" + df_cpg_subset['start'].astype(str) + "-" + df_cpg_subset['end'].astype(str)

In [ ]:
df_cpg_subset_gene = utils.annotate_region(df_cpg_subset,region_col='names', bedfile='/data2st1/junyi/generegion_vM23/genebody_selected.bed')

In [89]:
df_cpg_subset_gene

,chr,start,end,type,names,gene_name,gene_id,gstart,gend,strand,annotation,distance
0,chr1,3531624,3531843,CpG:27,chr1:3531624-3531843,Xkr4,ENSMUSG00000051951.5,3205900,3671498,-,genebody,0
1,chr1,3670619,3671074,CpG:34,chr1:3670619-3671074,Xkr4,ENSMUSG00000051951.5,3205900,3671498,-,genebody,0
2,chr1,3671654,3672156,CpG:45,chr1:3671654-3672156,Xkr4,ENSMUSG00000051951.5,3205900,3671498,-,genebody,-157
3,chr1,4491701,4493673,CpG:165,chr1:4491701-4493673,Sox17,ENSMUSG00000025902.13,4490930,4497354,-,genebody,0
4,chr1,4496947,4497608,CpG:47,chr1:4496947-4497608,Gm37587,ENSMUSG00000104238.1,4496550,4499558,+,genebody,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16004,chrY,90785593,90786243,CpG:80,chrY:90785593-90786243,Gm47283,ENSMUSG00000096768.8,90784737,90816465,+,genebody,0
16005,chrY,90793289,90793819,CpG:59,chrY:90793289-90793819,Gm47283,ENSMUSG00000096768.8,90784737,90816465,+,genebody,0
16006,chrY,90818329,90818565,CpG:28,chrY:90818329-90818565,Gm47283,ENSMUSG00000096768.8,90784737,90816465,+,genebody,-1865
16007,chrY,90824266,90824502,CpG:28,chrY:90824266-90824502,Gm47283,ENSMUSG00000096768.8,90784737,90816465,+,genebody,-7802
16008,chrY,90825140,90829322,CpG:273,chrY:90825140-90829322,Gm21742,ENSMUSG00000099871.1,90837412,90844040,+,genebody,8091

In [90]:
df_cpg_subset_gene.loc[df_cpg_subset_gene.distance!= 0,'gene_name'] = 'intergenic'
df_cpg_subset_gene.loc[df_cpg_subset_gene.distance!= 0,'gene_id'] = 'intergenic'

In [92]:
df_cpg_subset_gene['score'] = "."

In [95]:
df_cpg_subset_gene= df_cpg_subset_gene[['chr', 'start', 'end','score', 'strand','gene_name', 'gene_id', 'type']]
df_cpg_subset_gene

,chr,start,end,score,strand,gene_name,gene_id,type
0,chr1,3531624,3531843,.,-,Xkr4,ENSMUSG00000051951.5,CpG:27
1,chr1,3670619,3671074,.,-,Xkr4,ENSMUSG00000051951.5,CpG:34
2,chr1,3671654,3672156,.,-,intergenic,intergenic,CpG:45
3,chr1,4491701,4493673,.,-,Sox17,ENSMUSG00000025902.13,CpG:165
4,chr1,4496947,4497608,.,+,Gm37587,ENSMUSG00000104238.1,CpG:47
...,...,...,...,...,...,...,...,...
16004,chrY,90785593,90786243,.,+,Gm47283,ENSMUSG00000096768.8,CpG:80
16005,chrY,90793289,90793819,.,+,Gm47283,ENSMUSG00000096768.8,CpG:59
16006,chrY,90818329,90818565,.,+,intergenic,intergenic,CpG:28
16007,chrY,90824266,90824502,.,+,intergenic,intergenic,CpG:28
16008,chrY,90825140,90829322,.,+,intergenic,intergenic,CpG:273

In [96]:
df_cpg_subset_gene.to_csv("/data2st1/junyi/output/atac0416/cCRE/cpg.bed", sep="\t", index=False, header=False)

In [97]:
df_interg = pd.read_csv("/data2st1/junyi/generegion_vM23/intergenic.bed", sep="\t", header=None)

In [99]:
df_interg.columns = ["chr", "start", "end", "score", "strand", "gene_name"]

In [101]:
df_interg['type'] = df_interg['gene_id'] = df_interg['gene_name']

In [104]:
df_interg = df_interg[df_interg['chr'].str.match(r'^chr([1-9]|1\d|2[0-2]|[XYM])$')]

In [117]:
df_interg.loc[df_interg.end==".","end"] = df_interg.loc[df_interg.end==".","start"]

In [118]:
df_interg.to_csv("/data2st1/junyi/output/atac0416/cCRE/intergenic.bed", sep="\t", index=False, header=False)